<!-- <div id="message-form" style="filter: blur(1px);">
  <h1>Example contact form:</h1>
  <%= form_tag("/contact", novalidate: true, id: "contact-form") do %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Name*</label>
          <input type="text" name="name" id="name" class="form-control required-field" placeholder="Required" required>
          <div class="invalid-feedback">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email*</label>
          <input type="text" name="email" id="email" class="form-control required-field" placeholder="Required" required>
          <div class="invalid-feedback">
            Email is required.
          </div>
        </div>
        <div class="form-group">
          <label for="number">Number</label>
          <input type="text" name="number" id="number" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="content">Message*</label>
          <textarea name="content" id="content" class="form-control required-field" style="height: 240px" placeholder="Required" required></textarea>
          <div class="invalid-feedback">
            Message is required.
          </div>
        </div>
      </div>
    </div>
    <div id="message-error"></div>
    <div class="text-center">
      <input type="submit" value="Send Message" class="btn btn-primary" id="contact-button">
    </div>
  <% end %>
</div>
 -->
 <script>alert("No solicitation, please. This page and the information contained therein is only intended for professional development.")</script>
<div class="container mt-5 mb-5">
 <p><a href="mailto:Timkep1@yahoo.com">Email me</a></p>
 <p><a href="tel:13093338614">Call</a></p> <sub>Business hours only please, if able. If not, email is preferred</sub>
</div>